.search-label {
color: #ffffff;
}

.form-control:focus {
  border-color: #eec89b;
  box-shadow: none;
}


.rounded-table {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
  transition: all 0.2s ease;
}

.table th, .table td {
  padding: 0.9rem 1rem;
}

.table thead th {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.85rem;
  color: #dcbc8a;
}

.table code {
  color: #eee4d4;
}

td .target_url_film {
  color: #dcbc8a;
}

.create-film-btn {
  background-color: #212529;
  border-color: #dcbc8a;
}

.back-to-list-films {
  display: flex;
  justify-content: right;
}

.create-film-btn:hover  {
  background-color: #2e3339;
  border-color: #dcbc8a;
}

.create_first_film_link {
  color: #eec89b;
}

.modal-content {
  background-color: #403933;
  color: #eec89b;
}

.modal-film-link {
  color: #ffffff;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.htmx-indicator {
  display: none;
  margin-left: 8px;
  vertical-align: center;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: inline-block;
}
