{% macro form_field(
           field_name,
           field_schema,
           field_type,
           validated=False,
           error=None,
           value=None,
           is_required=True
  ) %}
  <div class="form-floating mb-3 {% if validated %}has-validation{% endif %}">

    {% if field_type == "string" %}
      <input
        id="{{ field_name }}"
        name="{{ field_name }}"
        type="text"

        {% if validated %}
        class="form-control {% if error %}is-invalid{% else %}is-valid{% endif %}"
        {% else %}
        class="form-control"
        {% endif %}

        placeholder="_"
        {% if value != None %}value="{{ value }}"{% endif %}
        {% if field_schema.maxLength is defined %}
        maxlength="{{ field_schema.maxLength }}"
        {% endif %}
        {% if field_schema.minLength is defined %}
        minLength="{{ field_schema.minLength }}"
        {% endif %}
        {% if is_required %}required{% endif %}
      >

    {% elif field_type == "integer" %}
      <input
        id="{{ field_name }}"
        name="{{ field_name }}"
        type="number"

        {% if validated %}
        class="form-control {% if error %}is-invalid{% else %}is-valid{% endif %}"
        {% else %}
        class="form-control"
        {% endif %}

        placeholder="_"
        {% if value != None %}value="{{ value }}"{% endif %}
        {% if field_schema.maximum is defined %}
        max="{{ field_schema.maximum }}"
        {% endif %}
        {% if field_schema.minimum is defined %}
        min="{{ field_schema.minimum }}"
        {% endif %}
        {% if is_required %}required{% endif %}
      >

    {% else %}
      <input
        id="{{ field_name }}"
        name="{{ field_name }}"
        type="text"

        {% if validated %}
        class="form-control {% if error %}is-invalid{% else %}is-valid{% endif %}"
        {% else %}
        class="form-control"
        {% endif %}

        placeholder="_"
        {% if value != None %}value="{{ value }}"{% endif %}
        {% if is_required %}required{% endif %}
      >
    {% endif %}

    <label
      for="{{ field_name }}">{{ field_schema.title }}
    </label>

    {% if validated %}
      {% if error %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endif %}
    {% endif %}

  </div>
{% endmacro %}
