{% from 'macro/form_fields.html' import form_field %}

{% macro render_form (
  action,
  button_text
) %}

  <div class="row">
    <div class="col col-12 col-md-6 col-lg-6">
      <form action="{{ action }}" method="post">

        {% for field_name, field_schema in model_schema.properties.items() %}
          {% set is_required = field_name in (model_schema.get('required') or []) %}
          {% set field_type = field_schema.type | default(None) %}
          {% set value = field_schema.get('default') or None %}
          {{ form_field(
                field_name=field_name,
                field_schema=field_schema,
                field_type=field_type,
                validated=validated,
                value=form_data and form_data[field_name] or value,
                error=errors and errors[field_name] or None,
                is_required=is_required
               ) }}

        {% endfor %}
        <input type="submit" value="{{ button_text }}" class="btn btn-primary submit-btn">

      </form>
    </div>
  </div>
{% endmacro %}
