{# route_name, title #}
{% set navigation = [
  ("home", "Home"),
  ("about", "About"),
  ("films:list", "Films-list"),
] %}


<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 ml-5" href="/">F-ctlg</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fs-3" id="navbarNav">
      <ul class="navbar-nav">

        {% for name, title in navigation %}
          {% set url = url_for(name) %}
          <li class="nav-item">
            <a
              {% if url.path == request.url.path %}
              	class="nav-link active"
                aria-current="page"
              {% else %}
              	class="nav-link"
              {% endif %}
              href="{{ url }}">{{ title }}
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</nav>
