{% from 'macro/form_fields.html' import form_field %}

{% extends 'base.html' %}

{% block title %}
  Create a new Film
{% endblock %}

{% block style_link %}
  <link rel="stylesheet" href="{{ url_for('static', path='/css/films/create.css') }}">
{% endblock %}

{% block main %}

  <h1 class="title my-4">Create a new Film</h1>
  <div class="row">
    <div class="col col-12 col-md-6 col-lg-6">
      <form action="{{ url_for('films:create_view') }}" method="post">

        {% for field_name, field_schema in model_schema.properties.items() %}
          {% set is_required = field_name in (model_schema.get('required') or []) %}
          {% set field_type = field_schema.type | default(None) %}
          {% set default = field_schema.get('default') or None %}
          {{ form_field(
                field_name=field_name,
                field_schema=field_schema,
                field_type=field_type,
                default=default,
                is_required=is_required
               ) }}

        {% endfor %}
        <input type="submit" value="Create" class="btn btn-primary submit-btn">

      </form>

      <div class="mt-5">
        <a href="{{ url_for('films:list') }}" class="btn btn-secondary">
          Back to Films list
        </a>
      </div>

    </div>
  </div>



{% endblock %}
