{% extends 'base.html' %}

{% block title %}
  All Films list
{% endblock %}

{% block style_link %}
  <link rel="stylesheet" href="{{ url_for('static', path='/css/films/list.css') }}">
{% endblock %}

{% block main %}
  <h1 class="title text-center my-4">Films</h1>
  {% if films %}
    <div class="table-responsive">
      <table class="table table-dark table-striped-columns table-hover align-middle rounded-table">
        <thead>
        <tr>
          <th scope="col" class="text-center">slug</th>
          <th scope="col" class="text-center">title</th>
          <th scope="col" class="text-center">description</th>
          <th scope="col" class="text-center">year</th>
          <th scope="col" class="text-center">duration_minutes</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for film in films %}

          <tr>
            <td><code>{{ film.slug }}</code></td>
            <td>
              {% if film.target_url %}
                <a
                  target="_blank"
                  class="target_url_film"
                  href="{{ film.target_url }}">{{ film.title }}
                </a>
              {% else %}
                {{ film.title }}
              {% endif %}
            </td>
            <td>{{ film.description }}</td>
            <td>{{ film.year }}</td>
            <td>{{ film.duration_minutes }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Films actions">
                <a href="{{ url_for('films:update_view', slug=film.slug) }}" class="btn btn-outline-success">Edit</a>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#model-confirm-delete-{{ film.slug }}-label">
                  Delete
                </button>
              </div>

              <div class="modal fade" id="model-confirm-delete-{{ film.slug }}-label" tabindex="-1"
                   aria-labelledby="model-confirm-delete-{{ film.slug }}-label"
                   aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="model-confirm-delete-{{ film.slug }}-label">Confirm deletion
                        -
                        <strong>{{ film.title }}</strong></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete Film
                      <a
                        target="_blank"
                        class="modal-film-link"
                        href="{{ film.target_url }}">{{ film.title }}</a>?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button
                        hx-delete="{{ url_for("films:delete", slug=film.slug) }}"
                        hx-target="closest tr"
                        hx-swap="outerHTML swap:0.7s"
                        type="submit"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                      >
                        Delete
                      </button>

                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto my-4">
      <a href="{{ url_for('films:create_view') }}" class="btn btn-primary create-film-btn">
        Create a new Film
      </a>
    </div>

  {% else %}
    <h2>No films yet</h2>
    <h3>
      But you can
      <a
        href="{{ url_for('films:create_view') }}"
        class="create_first_film_link"
      >create a new one
      </a>
    </h3>
  {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
          integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
          crossorigin="anonymous"></script>


{% endblock %}
