{% from 'films/macro/form.html' import render_form with context %}
{% extends 'base.html' %}

{% block title %}
  Update Film - {{ film.title }}
{% endblock %}

{% block style_link %}
  <link rel="stylesheet" href="{{ url_for('static', path='/css/films/create.css') }}">
{% endblock %}

{% block main %}

  <h1 class="title my-4">Update Film: "{{ film.title }}"</h1>

  {{ render_form(
    action=url_for('films:update', slug=film.slug),
    button_text='Update'
    ) }}

  {% include 'films/components/back-to-list.html' %}

{% endblock %}
