{% extends 'base.html' %}

{% block title %}Home - {{ super() }}{% endblock %}

{% block main %}
	<h1>Hello, Film Catalog!</h1>
  <div>
    <a class="docs-link" href="/docs">Swagger docs</a>
  </div>

  <h3 class="my-4">Features</h3>
  <ul class="list-group">
    {% for feature in features %}
      <li class="list-group-item feature-item">{{ feature }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block footer %}
	<div>
  <small>This service is still under development</small>
  </div>
  {{ super() }}
{% endblock %}
