<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Film Catalog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>

<main class="container">
  <h1>Hello, Film Catalog!</h1>
  <div>
    <a href="/docs">Swagger docs</a>
  </div>

  <h3 class="my-4">Features</h3>
  <ul class="list-group list-features">
    {% for feature in features %}
      <li class="list-group-item feature-item">{{ feature }}</li>
    {% endfor %}
  </ul>

</main>

<footer class="m-4">
  &copy; Yaroslav Bereza {{ today.year }}
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous">
</script>
</body>
</html>
